body{
    
}
.background-image1{
width: 100vw;
height: 100vh;
}
.playstionStore{
    position: absolute;
    width: 270px;

    bottom: 710px;
    left: 50px;
    height: 150px;
    border-radius: 22px;
}
.playstion-info{
    position: absolute;
    bottom: 660px;
    left: 70px;
    font-size: 40px;
    color: white;
}

.background-image2{
    width: 100vw;
    height: 100vh;
    }
    .FC24{
        position: absolute;
        bottom: 710px;
    left: 370px;
        height: 150px;
        border-radius: 22px;
        
    }
    .FC24-info{
        position: absolute;
        bottom: 660px;
        left: 470px;
        font-size: 40px;
        color: white;
    }

    .Fortnite{
        position: absolute;
        bottom: 710px;
        left: 680px;
        height: 150px;
        border-radius: 22px;
        
    }
    .Fortnite-info{
        position: absolute;
        bottom: 660px;
        left: 780px;
        font-size: 40px;
        color: white;
    }

    .b2k25{
        position: absolute;
        bottom: 710px;
        left: 995px;
        height: 150px;
        border-radius: 22px;
        
    }
    .b2k25-info{
        position: absolute;
        bottom: 660px;
        left: 1090px;
        font-size: 40px;
        color: white;
    }